{% extends 'documents/base.html' %}
{% load static %}

  
{% block scripts %}
  <title>Мои сертификаты</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}

{% block menu %}
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Вы вошли под именем {{ user.get_short_name }}</button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{% url 'myp' %}">Отправить документ</a></li>
        <li><a class="dropdown-item" href="{% url 'mydocs' %}">Мои документы</a></li>
        <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
    </ul>
  </div>
{% endblock %}

{% block table %} 

    {% if user.is_authenticated %}
    
    <div class="myconts">
        {% csrf_token %}

        <p>Информация о сертификате, привязанном в Ваш личный кабинет</p>

        <table>
        <tr>
            <th>Данные о владельце</th>
            <th>Наименование издателя</th>
            <th>Серийный номер</th>
            <th>Действует с</th>
            <th>Действует по</th>
        </tr>
        {% for mycert in mycerts %}
        <tr>
            <td id="{{ mycert.owner }}">{{ mycert.owner }}</td>
            <td id="{{ mycert.issuerName }}">{{ mycert.issuerName }}</td>
            <td id="{{ mycert.serialNumber }}">{{ mycert.serialNumber }}</td>
            <td id="{{ mycert.validFromDate }}">{{ mycert.validFromDate }}</td>
            <td id="{{ mycert.validToDate }}">{{ mycert.validToDate }}</td>
        </tr>
        {% endfor %}
        </table>
        <form action="{% url 'choose_cert' %}">
            <button class="btn btn-primary" id="replaceCert">Привязать другой сертификат</button>
        </form>
        

    </div>

    {% else %}

    <div class="myconts">Для работы с данным разделом необходимо <a href = "{% url 'login' %}" style="color:#7B68EE"> войти </a> </div>
    
    {% endif %}
    
{% endblock %}

{% block list %}
  <script language="javascript" src={% static "js/jszip.min.js" %}></script> 
  <script language="javascript" src={% static "js/FileSaver.min.js" %}></script> 
{% endblock %}


